.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    height: auto;
    background-color: #e02b2b;
    padding: 120px 0 20px;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 10.33%, 1.00% 9.56%, 2.00% 8.80%, 3.00% 8.06%, 4.00% 7.34%, 5.00% 6.63%, 6.00% 5.95%, 7.00% 5.29%, 8.00% 4.67%, 9.00% 4.07%, 10.00% 3.51%, 11.00% 2.98%, 12.00% 2.49%, 13.00% 2.04%, 14.00% 1.63%, 15.00% 1.27%, 16.00% 0.94%, 17.00% 0.67%, 18.00% 0.44%, 19.00% 0.26%, 20.00% 0.12%, 21.00% 0.04%, 22.00% 0.00%, 23.00% 0.01%, 24.00% 0.08%, 25.00% 0.19%, 26.00% 0.35%, 27.00% 0.56%, 28.00% 0.81%, 29.00% 1.12%, 30.00% 1.46%, 31.00% 1.85%, 32.00% 2.29%, 33.00% 2.76%, 34.00% 3.27%, 35.00% 3.82%, 36.00% 4.40%, 37.00% 5.01%, 38.00% 5.66%, 39.00% 6.33%, 40.00% 7.02%, 41.00% 7.74%, 42.00% 8.47%, 43.00% 9.22%, 44.00% 9.99%, 45.00% 10.76%, 46.00% 11.54%, 47.00% 12.33%, 48.00% 13.11%, 49.00% 13.89%, 50.00% 14.67%, 51.00% 15.44%, 52.00% 16.20%, 53.00% 16.94%, 54.00% 17.66%, 55.00% 18.37%, 56.00% 19.05%, 57.00% 19.71%, 58.00% 20.33%, 59.00% 20.93%, 60.00% 21.49%, 61.00% 22.02%, 62.00% 22.51%, 63.00% 22.96%, 64.00% 23.37%, 65.00% 23.73%, 66.00% 24.06%, 67.00% 24.33%, 68.00% 24.56%, 69.00% 24.74%, 70.00% 24.88%, 71.00% 24.96%, 72.00% 25.00%, 73.00% 24.99%, 74.00% 24.92%, 75.00% 24.81%, 76.00% 24.65%, 77.00% 24.44%, 78.00% 24.19%, 79.00% 23.88%, 80.00% 23.54%, 81.00% 23.15%, 82.00% 22.71%, 83.00% 22.24%, 84.00% 21.73%, 85.00% 21.18%, 86.00% 20.60%, 87.00% 19.99%, 88.00% 19.34%, 89.00% 18.67%, 90.00% 17.98%, 91.00% 17.26%, 92.00% 16.53%, 93.00% 15.78%, 94.00% 15.01%, 95.00% 14.24%, 96.00% 13.46%, 97.00% 12.67%, 98.00% 11.89%, 99.00% 11.11%, 100.00% 10.33%);
    margin: 30px 0 0;

    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        max-width: 1000px;
        width: 100%;
        height: auto;

        &-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: auto;
            height: auto;
            padding-left: 20px;
    
            img {
                background-color: #ffffff;
            }
    
            strong {
                font-size: 25px;
                line-height: 25px;
                font-family: "LilitaOne";
                font-weight: 400;
                color: #e8ca05;
            }
        }

        &-contact {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: auto;
            height: auto;
            padding-right: 20px;
    
            span {
                font-size: 20px;
                line-height: 20px;
                font-family: "LilitaOne";
                font-weight: 400;
                color: #000000;
                text-align: center;
            }

            a {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 16px;
                line-height: 16px;
                font-family: "VarelaRound";
                font-weight: 400;
                color: #e8ca05;
                text-decoration: none;
                position: relative;
                padding-bottom: 3px;

                &::after {
                    content: '';
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    max-height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color:#e8ca05;
                    transform: scaleX(0);
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    &::after {
                      transform: scaleX(1);
                    }
                }
            }

            .whatsapp {
                &::before {
                    content: url("../assets/icons/whatsapp.svg");
                }
            }

            .tephone {
                &::before {
                    content: url("../assets/icons/telefone.svg");
                }
            }
        }
    }

    &-creator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        span {
            font-size: 16px;
            line-height: 16px;
            font-family: "VarelaRound";
            font-weight: 400;
            color: #ffffff;
            text-align: center;
        }

        &-links {
            display: flex;
            flex-direction: row;
            gap: 40px;

            a {
                display: flex;
                width: 30px;
                height: 30px;
                font-size: 0;
            }

            .github {
                &::before {
                    content: url("../assets/icons/github.svg");
                }
            }

            .linkedin {
                &::before {
                    content: url("../assets/icons/linkedin.svg");
                }
            }
        }
    }
}

//Responsivo
@media (max-width: 1023px) {
    .footer {
        &-content {
            max-width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &-content {
            flex-direction: column;
            gap: 30px;
    
            &-logo {
                flex-direction: column;
                justify-content: center;
                padding-left: 0;
            }
    
            &-contact {
                padding-right: 0;
        
                span {
                    font-size: 16px;
                    line-height: 16px;
                }
    
                a {
                    align-self: center;
                }
            }
        }
    }
}