.header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 70px;
        max-width: 1000px;
        width: 100%;
        height: 100%;

        .header-logo {
            display: flex;
            width: 100px;
            height: 100px;

            picture {
                width: 100%;
                height: 100%;

                img {
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
    
            h1 {
                font-size: 0;
            }
        }
    
        nav {
            ul {
                display: flex;
                flex-direction: row;
                gap: 20px;
                list-style: none;

                li {
                    a {
                        display: flex;
                        font-size: 16px;
                        line-height: 16px;
                        font-family: "LilitaOne";
                        font-weight: 400;
                        color: #000000;
                        text-decoration: none;
                        padding-bottom: 3px;
                        position: relative;
                        transition: all ease-in-out .4s;

                        &::after {
                            content: '';
                            position: absolute;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            max-height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color:#e02b2b;
                            transform: scaleX(0);
                            transition: all .4s ease-in-out;
                        }
        
                        &:hover {
                            color: #e02b2b;

                            &::after {
                              transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}

//Responsivo
@media (max-width: 1023px) {
    .header {
        &-wrapper {
            max-width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
    
            .header-logo {
                width: 50px;
                height: 50px; 
            }
        }
    }
}