@font-face {
    font-family: 'LilitaOne';
    src: url('../assets/fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VarelaRound';
    src: url('../assets/fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}